<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
  <appSettings>
    <add key="exportPath" value="C:\Users\User\Desktop\cities.txt"/>
    <add key="importPath" value="C:\Users\User\Desktop\citiesCalc.txt"/>
  </appSettings>
</configuration>